body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

input {
  border: 1px solid grey;
  border-radius: 5px;
  width: 170px;
  padding: 6px;
  font-size: 16px;
  margin: 10px 2px;
}


